/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.ec-form-content {
	display: flex;
	justify-content: space-between;
}

.ec-submit-btn:disabled {
	pointer-events: none;
	opacity: 0.5;
}

.ec-success-msg {
	color: #00ba37;
}

.ec-error-msg {
	color: #9e1313;
}
