<?xml version="1.0"?>
<phpunit
	bootstrap="bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="dd-woo-testsuite-unit">
			<directory prefix="test-" suffix=".php">.</directory>
		</testsuite>
	</testsuites>
</phpunit>
